@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
:root{
  --primary-color: #101E8E;
  --secondary-color: #CF0A2C;
  --background-color: #f0c6cd;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--background-color);
  font-family: 'Londrina Solid', cursive;
}
.container{
  max-width:90%;
  margin: 0 auto;
}
.main-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:90%;
  margin: 5px auto;
}
h2{
  font-weight: 900;
}
p{
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  color: rgba(0,0,0,.7);
}
a{
  text-decoration: none;
}

/* home Page */
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img.broaster{
  width: 300px;
  height: 300px;
}
.btn{
  padding: 10px 20px ;
  background-color: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  text-align: center;
}
.btn.btn-order{
  margin:16px;
}


/* Main Menu */
.icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(124, 118, 118, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon:hover{
  background-color: rgba(148, 113, 113, 0.52);

}
